.VIpgJd-ZVi9od-ORHb {
    display: none;
}
.VIpgJd-ZVi9od-ORHb-OEVmcd {
    left: 0;
    display: none;
    top: 0;
    position: relative;
    
    z-index: 10000001;
    position: relative;
    border: none;
    border-bottom: 1px solid #6B90DA;
    margin: 0;
    box-shadow: 0 0 8px 1px #999;
}
.goog-te-gadget img {
    display: none;
}
.goog-te-gadget-simple {
    border-radius: 18px;
}
.translated-ltr{
    margin-top: -40px;
}